{
  "parentDomainName": "example.com",
  "hostStoragePath": "/storage",
  "hostConfigPath": "/config",
  "groupID": "1001",
  "userID": "1001",
  "user": "user1",
  "password": "hunter2",
  "TZ": "Australia/Brisbane"
}
